<div class="secondary">
  <section>

    <article>
      <figure>
        <img src="/img/DSC00506.JPG" alt="" title="Cherry spring park" />
        <figcaption>Cherry spring park</p>
      </figure>
    </article>

    <aside>
      <ul class="image-tn">
        <li><a href="/img/ORG_DSC01663.JPG"><img src="/img/ORG_DSC01663.JPG" alt="" title="Tokyo tower" /></a></li>
        <li><a href="/img/ORG_DSC01651.JPG"><img src="/img/ORG_DSC01651.JPG" alt="" title="Shinjuku Gyoen Garden" /></a>
        </li>
        <li><a href="/img/LRG_DSC00643.JPG"><img src="/img/LRG_DSC00643.JPG" alt="" title="Hanauma Bay" /></a></li>
        <li><a href="/img/DSC02486.JPG"><img src="/img/DSC02486.JPG" alt="" title="Time square" /></a></li>
        <li><a href="/img/DSC02469.JPG"><img src="/img/DSC02469.JPG" alt="" title="Barcelona" /></a></li>
        <li><a href="/img/DSC02371.JPG"><img src="/img/DSC02371.JPG" alt="" title="Barcelona" /></a></li>
        <li><a href="/img/DSC02347.JPG"><img src="/img/DSC02347.JPG" alt="" title="Ia Sagrada Familla" /></a></li>
      </ul>
    </aside>

  </section>
</div>