<article>

  <div class="content-video">
    <iframe src="https://www.youtube.com/embed/gYO1uk7vIcc" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    <ul class="btn-list">
      <li>
        <a class="active" href="https://www.youtube.com/embed/gYO1uk7vIcc">Hong Kong</a>
      </li>
      <li>
        <a href="https://www.youtube.com/embed/8iSBVIHCRdc">St Petersburg</a>
      </li>
      <li>
        <a href="https://www.youtube.com/embed/eV6lTEY95yY">Istanbul</a>
      </li>

    </ul>
  </div>

</article>

<aside>
  <h2>By Timelab Pro</Video></h2>
  <p><strong>Hong Kong</strong> Hong Kong. Mind-blowing cyberpunk drone video of the craziest Asia’s city.</p>
  <p><strong>St Petersburg</strong> Winter Saint Petersburg Russia</p>
  <p><strong>Istanbul</strong> Istanbul, Love of the continents</p>
</aside>