$break-sm: 480px;
$break-med: 768px;
// $break-wide: 980px;

$max-width: 980px;
$min-width: 300px;

$link: #3d5a80;
$hover: #ee6c4d;
$text: #293241;
$border: #007eb66e;
$med-blue: #98c1d9;
$light-blue: #e0fbfc;
$dk-yellow: #fdfcdc;
$green:#81b29a;
$yellow: #f2cc8f;
$orange: #e07a5f;
